### Better diff hunk headers
# Git's builtin diff hunk header styles.
*.ad[abs] diff=ada
*.[Cch] diff=cpp
*.cc diff=cpp
*.[ch]pp diff=cpp
*.hh diff=cpp
*.for diff=fortran
*.html diff=html
*.shtml diff=html
*.xml diff=html
*.java diff=java
*.[HMm] diff=objc
*.pas diff=pascal
*.perl diff=perl
*.pl diff=perl
*.php diff=php
*.py diff=python
*.rb diff=ruby
*.tex diff=tex

# Snarfed this from FSF; see contrib/git-for-steve.sh
*.el diff=elisp
*.ac diff=m4
*.m4 diff=m4
*.mk diff=make
*[Mm]akefile diff=make
Makefile.in diff=make
*[-.]sh diff=shell
*.texi diff=texinfo
